# Dependencies
node_modules/
.pnp/
.pnp.js

# Turborepo cache
.turbo

# Logs
logs/
*.log

# Build outputs
dist/
build/

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Other ignores
.env
.turbo
*storybook.log

things-to-do.md
commandToRem